 @media(max-width:1300px){
.board_midlane_main_container    {
    flex-direction: column;
     align-items: center;
 
}
} 


@media(max-width:1000px){
    .board_midlane_main_container    {
       margin-left:0;
    }
    .board_top {
        width: unset;
        height: unset;
        margin-left:0;
    }
    .drag-area{
    height: 322px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}
    } 


    @media(max-width:810px){
        .board_h1_button_container_handy{
            display: flex;
        }
        .board_h1_button_container{
            display: none;
        }

    } 
    