body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1 {
    color: #000;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.parrent-button-dark {
    height: 56px;
    font-size: 21px;
    background-color: #2A3647;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 16px;
    border: #2A3647 solid 1px;
    display: flex;
    align-items: center;
}

.parrent-button-light {
    height: 56px;
    font-size: 21px;
    background-color: transparent;
    border-radius: 10px;
    color: #2A3647;
    padding: 16px;
    border: #2A3647 solid 1px;
    display: flex;
    align-items: center;
}

.parrent-button-dark:hover {
    background-color: #29ABE2;
    border-color: #29ABE2;
}

.parrent-button-light:hover {
    color: #29ABE2;
    border-color: #29ABE2;
}

.parrent-button-dark:active {
    background-color: #091931;
    border-color: #091931;
}

.parrent-button-light:active {
    color: #091931;
    border-color: #091931;
}

/* allround classes here! */

.ht100 {
    height: 100%;
}

.hw30 {
    height: 30px;
    width: 30px;
}

.max-h {
    max-height: 1024px;
}

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.w100{
    width: calc(100vw - 232px);
}

.ml-36{
    margin-left: -36px;
}
.ml36{
    margin-left: 36px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paddingLR64 {
    padding: 0px 32px 0px 40px;
}

.gap16 {
    gap: 16px;
}

.gap8 {
    gap: 8px;
}

/*---------------*/

.menu {
    display: flex;
    width: 232px;
    /* width: 15vw; */
    height: 100vh;
    /* padding: 64px 0px; */
    max-height: 1024px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    color: #CDCDCD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    z-index: 999;
    position: relative;
}

header {
    display: flex;
    width: calc(100vw - 232px);
    height: 104px;
    /* padding: 20px 40px 20px 116px; */
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    z-index: 999;
}

.header_container {
    height: 104px;
}


.header span {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 229px;
    width: 232px;
    align-items: center;
    justify-content: center;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu img {
    height: 121.97px;
    width: 100.03px;
}

#menu_icon {
    height: 25px;
    width: 25px;
}


.menu_footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 4px;
    height: 317px;
}

.menu_link_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 156px;
    height: 46px;
    gap: 8px;
}

.menu_footer_link {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
}

.header_icon_container {
    display: flex;
    align-items: center;
    gap: 16px;
}

#help_icon {
    height: 32px;
    width: 32px;
}

#sm_icon {
    height: 64px;
    width: 64px;
}

.header_flex_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

@media(min-width:1440px) {

    header {
        width: 1208px;
    }

}

@media(max-width:1439px) {

    header {}

}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */
::-webkit-scrollbar {
    background-color: #fff;
    width: 14x;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #c3c3c3;
    border-radius: 16px;
    border: 4px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b0b0b0;
}

::-webkit-scrollbar-thumb:active {
    background-color: #a0a0a0;
}

::-webkit-scrollbar-button:single-button {
    border-style: solid;
    height: 10px;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0px 8px 6px 8px;
    border-color: white white #c3c3c3 white;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: white white #b0b0b0 white;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    border-color: white white #a0a0a0 white;
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 6px 8px 0 8px;
    border-color: #c3c3c3 white white white;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #b0b0b0 white white white;
}

::-webkit-scrollbar-button:vertical:single-button:increment:active {
    border-color: #a0a0a0 white white white;
}