.main-container {
    margin-top: 110px;
    margin-left: 96px;
    margin-right: 135.75px;
    width: fit-content;
    height: 100pc;
    max-height: calc(100vh - 230px);
    overflow: auto;
}

.ad-task-form {
    gap: 50px;
}

.form-input-titel {
    color: #2A3647;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 2px;
    margin-bottom: 8px;
}

.conditions-text {
    display: flex;
    align-items: end;
}

.conditions-text::before {
    content: "*";
    color: #FF8190;
    font-size: 20px;
    vertical-align: middle;
}

.asterisk::after {
    content: "*";
    color: #FF8190;
    font-size: 20px;
    vertical-align: middle;
}

.add-task-input-div {
    min-width: 419px;
    position: relative;
}

.add-task-input {
    height: 48px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    margin-bottom: 28px;
    font-size: 20px;
    padding-left: 21px;
    outline-width: 0px;
}

.add-task-input::placeholder {
    color: #D1D1D1;
}

.add-task-textarea {
    height: 120px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    margin-bottom: 28px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding-left: 21px;
    padding-top: 19px;
    outline-width: 0px;
}

.add-task-select:focus,
.add-task-input:focus,
.add-task-textarea:focus{
    border-color: #29ABE2;
}

.add-task-textarea::placeholder {
    color: #D1D1D1;
}

.add-task-select {
    height: 48px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    font-size: 20px;
    margin-bottom: 28px;
    padding-left: 21px;
    outline-width: 0px;
}

.add-task-select option {
    height: 48px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    margin-bottom: 28px;
    padding-left: 21px;
}

#add-task-date::-webkit-calendar-picker-indicator {
    margin-right: 16px;
}

.seperator {
    width: 1.1px;
    height: 424px;
    flex-shrink: 0;
    background-color: #D1D1D1;
}

.add-task-prio-button {
    font-size: 20px;
    height: 56px;
    width: 136px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    background-color: white;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition: box-shadow 80ms ease-in;
}

.add-task-prio-button svg {
    width: 20px;
    margin-left: 4px;
}

#prio-button-urgent svg {
    fill: #FF3D00;
}

#prio-button-medium svg {
    fill: #FFA800;
}

#prio-button-low svg {
    fill: #7AE229;
}

.add-task-buttons-div {
    display: flex;
    gap: 16px;
}

#prio-button-urgent:hover,
#prio-button-medium:hover,
#prio-button-low:hover {
    transition: box-shadow 80ms ease-out;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#prio-button-urgent:active,
#prio-button-urgent:active svg {
    background-color: #FF3D00;
    color: white;
    fill: white;
}

#prio-button-medium:active,
#prio-button-medium:active svg {
    background-color: #FFA800;
    color: white;
    fill: white;
}

#prio-button-low:active,
#prio-button-low:active svg {
    background-color: #7AE229;
    color: white;
    fill: white;
}

#task-create-button svg {
    width: 18px;
    margin-left: 6px;
}

#add-task-contact-div {
    padding-top: 0px;


    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: #D1D1D1 solid 1px;
    border-right: #D1D1D1 solid 1px;
    border-bottom: #D1D1D1 solid 1px;
    margin-top: -35px;
}

#add-task-contact {
    overflow: auto;
    max-height: 194px;
    padding-left: 21px;
    padding-right: 21px;
}

#add-task-contact::-webkit-scrollbar-button:single-button:vertical:increment {
    margin-bottom: 50px !important;
}

.add-task-assignet-checkbox {
    height: 20px;
    width: 20px;
}

.add-task-contact {
    padding: 0px 0px 16px 21px;
}

.input-icon {
    position: absolute;
    z-index: 10;
    display: inline-block;
    right: 16px;
    top: 49px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    background-color: transparent;
    border-radius: 50px;
    padding: 8px;
}

.input-icon:hover {
    background-color: rgba(199, 199, 199, 0.644);
}

* {
    box-sizing: border-box;
}

.fill {
    fill: rgb(29, 13, 205);
}

.ht80 {
    height: 80%;
}

.gap48 {
    display: flex;
    gap: 48px;
}

@media (max-width: 1340px) {
    .main-container {
        margin-left: 0;
        margin-right: 0;
        max-height: calc(100vh - 190px);
        display: flex;
        justify-content: center;
        width: auto;
    }
}

@media (max-width: 1250px) {
    .add-task-input-div {
        width: 396px;
        min-width: 396px;
    }

    .add-task-prio-button {
        height: 41px;
        width: 121.33px;
        font-size: 16px;
    }

    .gap48 {
        gap: 33px;
    }

    .form-input-titel {
        font-size: 16px;
    }

    .conditions-text::before {
        font-size: 16px;
    }

    .asterisk::after {
        font-size: 16px;
    }

    .add-task-input {
        font-size: 16px;
    }

    .add-task-textarea {
        font-size: 16px;
    }

    .add-task-select {
        font-size: 16px;
    }

    .input-icon {
        top: 43px;
    }
}

@media (max-width: 1150px) {
    .gap48 {
        flex-direction: column;
    }

    .seperator {
        display: none;
    }

    .media-column {
        flex-direction: column;
        max-height: calc(100vh - 10px);
    }

    .main-container {
        margin-top: 50px;
        max-height: calc(100vh - 160px);
    }

    .add-task-input-div {
        width: 50vw;
        /* min-width: 419px; */
    }

    .add-task-prio-button {
        height: 41px;
        width: 121.33px;
    }

    .gap48 {
        gap: 0;
    }

    .form-input-titel {
        font-size: 20px;
    }

    .conditions-text::before {
        font-size: 20px;
    }

    .asterisk::after {
        font-size: 20px;
    }

    .add-task-input {
        font-size: 20px;
    }

    .add-task-textarea {
        font-size: 20px;
    }

    .add-task-select {
        font-size: 20px;
    }

    .add-task-prio-button {
        font-size: 20px;
        height: 56px;
        width: 136px;
    }

    .input-icon {
        top: 48px;
    }
}

@media (max-width: 850px) {
    .add-task-input-div {
        width: 50vw;
        /* min-width: 419px; */
    }

    .add-task-prio-button {
        height: 41px;
        width: 121.33px;
        font-size: 16px;
    }

    .form-input-titel {
        font-size: 16px;
    }

    .conditions-text::before {
        font-size: 16px;
    }

    .asterisk::after {
        font-size: 16px;
    }

    .add-task-input {
        font-size: 16px;
    }

    .add-task-textarea {
        font-size: 16px;
    }

    .add-task-select {
        font-size: 16px;
    }

    .input-icon {
        top: 44px;
    }
}




.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    min-width: 390px;
}

#myInput:focus {
    outline: 3px solid #ddd;
    min-width: 390px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 390px;
    border: 1px solid #ddd;
    z-index: 1;
    /* max-height: 300px; */
}

.add-task-contact-list {
    overflow: auto;
}

.dropdown-content a, .dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: #D1D1D1 solid 1px;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

body {
    overflow: hidden;
}