.form-input-titel {
    color: #2A3647;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.asterisk::after {
    content: "*";
    color: #FF8190;
    font-size: 20px;
    vertical-align: middle;
}

.header-add-task0 {
    position: absolute;
    top: 0;
    left: 232px;
}

.main-container {
    margin-top: 110px;
    margin-left: 96px;
    margin-right: 135.75px;
}

.add-task-input {
    height: 48px;
    width: 440px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    padding: 0 0 0 21px;
}

.add-task-textarea {
    height: 120px;
    width: 440px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    padding: 0 0 0 21px;
}

.seperator {
    width: 1.1px;
    height: 424px;
    flex-shrink: 0;
    background-color: #D1D1D1;
}

.ht80 {
    height: 80%;
}