* {
    box-sizing: border-box;
}

.menu_link_container{
    width: 232px;
}

header {
    box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.10), inset -1px 0px 4px 0px rgba(0, 0, 0, 0.05);
}

.main-container {
    /* padding-top: 110px; */
    padding-left: 96px;
    width: calc(100vw - 232px);
    max-width: calc(1440px - 232px);
    height: calc(100vh - 104px);
    max-height: calc(1024px - 104px);
    background: #F6F7F8;
    position: relative;
    /* overflow: auto; */
}

.main-div {
    padding-top: 110px;
    width: 1000px;
    height: calc(100vh - 180px);
    overflow: auto;
}

.add-task-title {
    margin-bottom: 38px;
    min-width: 396px;
}

.ad-task-form {
    gap: 92px;
}

.form-input-titel {
    color: #2A3647;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 2px;
    margin-bottom: 8px;
}

.conditions-text {
    display: flex;
    align-items: flex-start;
}

.conditions-text::before {
    content: "*";
    color: #FF8190;
    font-size: 20px;
    vertical-align: middle;
}

.asterisk::after {
    content: "*";
    color: #FF8190;
    font-size: 20px;
    vertical-align: middle;
}

.add-task-input-div {
    min-width: 440px;
    position: relative;
}

.add-task-input {
    height: 48px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    font-size: 20px;
    padding-left: 21px;
    outline-width: 0px;
}

.add-task-input::placeholder {
    color: #D1D1D1;
}

.add-task-textarea {
    height: 120px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    margin-bottom: 28px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding-left: 21px;
    padding-top: 19px;
    outline-width: 0px;
}

.add-task-select:focus,
.add-task-input:focus,
.add-task-textarea:focus{
    border-color: #29ABE2;
}

.add-task-textarea::placeholder {
    color: #D1D1D1;
}

.add-task-select {
    height: 48px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    font-size: 20px;
    margin-bottom: 28px;
    padding-left: 21px;
    outline-width: 0px;
}

.add-task-select::placeholder {
    color: black;
}

.add-task-select option {
    height: 48px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    margin-bottom: 28px;
    padding-left: 21px;
}

#add-task-date::-webkit-calendar-picker-indicator {
    margin-right: 16px;
}

.seperator {
    width: 1.1px;
    height: 424px;
    flex-shrink: 0;
    background-color: #D1D1D1;
}

.add-task-prio-button {
    font-size: 20px;
    height: 56px;
    width: 136px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    background-color: white;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition: box-shadow 80ms ease-in;
}

.add-task-prio-button svg {
    width: 20px;
    margin-left: 4px;
}

#prio-button-urgent svg {
    fill: #FF3D00;
}

#prio-button-medium svg {
    fill: #FFA800;
}

#prio-button-low svg {
    fill: #7AE229;
}

.add-task-buttons-div {
    display: flex;
    gap: 16px;
}

#prio-button-urgent:hover,
#prio-button-medium:hover,
#prio-button-low:hover {
    transition: box-shadow 80ms ease-out;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#prio-button-urgent:active,
#prio-button-urgent:active svg {
    background-color: #FF3D00;
    color: white;
    fill: white;
}

#prio-button-medium:active,
#prio-button-medium:active svg {
    background-color: #FFA800;
    color: white;
    fill: white;
}

#prio-button-low:active,
#prio-button-low:active svg {
    background-color: #7AE229;
    color: white;
    fill: white;
}

.urgent, .urgent svg {
    background-color: #FF3D00 !important;
    color: white !important;
    fill: white !important;
}

.medium, .medium svg {
    background-color: #FFA800 !important;
    color: white !important;
    fill: white !important;
}

.low, .low svg {
    background-color: #7AE229 !important;
    color: white !important;
    fill: white !important;
}

#add-task-button svg {
    width: 18px;
    margin-left: 6px;
    fill: white;
}

.dropdown-menu-div {
    padding-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: #D1D1D1 solid 1px;
    border-right: #D1D1D1 solid 1px;
    border-bottom: #D1D1D1 solid 1px;
    margin-top: -36px;
}

.dropdown-menu {
    overflow: auto;
    max-height: 194px;
    position: relative;
}

.add-task-assignet-checkbox {
    height: 20px;
    width: 20px;
}

.add-task-single {
    padding: 7px 8px 7px 21px;
    margin: 1px 0px 1px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-radius: 10px;
}

.add-task-single:hover {
    background-color: #f6f6f6;
    cursor: pointer;
}

.name-div {
    display: flex;
    gap: 11px;
    align-items: center;
}

.input-icon {
    position: absolute;
    z-index: 10;
    display: inline-block;
    right: 16px;
    top: 47px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    background-color: transparent;
    border-radius: 50px;
    padding: 8px;
}

.input-icon:hover {
    background-color: rgba(199, 199, 199, 0.644);
}

#contacts-div {
    display: flex;
    flex-wrap: wrap;
}

.selected-initials {
    margin-bottom: 24px;
}

#add-task-category::placeholder {
    color: black;
}

#add-task-category {
    display: flex;
    align-items: center;
}

#add-task-subtasks {
    padding-right: 77px;
}

#add-subtask-button {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 24px;
}

#subbtask-input-icon {
    display: flex;
    position: absolute;
    right: 16px;
    transform: translateY(190%);
}

#subbtask-input-icon svg {
    height: 24px;
    width: 24px;
    transition: all 0.15s ease-in-out;
}

.subtask-icons:hover {
    background-color: rgba(199, 199, 199, 0.644);
}

.subtask-icons {
    cursor: pointer;
    padding: 4px;
    border-radius: 50px;
    height: 24px;
    width: 24px;
}

.subtask-icons-single-div {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.subtask-icons-single {
    cursor: pointer;
    padding: 4px;
    height: 20px;
    width: 20px;
    fill: #2A3647;
}

.subtask-icons-single:hover {
    transform: translateY(-1px) translateX(1px);
}

.mini-seperator {
    background-color: #D1D1D1;
    width: 1px;
    height: 24px;
}

#subtask-container {
    padding-left: 0;
}

.subbtask {
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    transition: background-color 125ms ease-in-out;
}

.subbtask span {
    max-width: 340px;
}

.subbtask span::before {
    content: '\2022';
    margin-right: 5px;
}

.subbtask:hover {
    background-color: #eeeeee;
}

.subbtask:focus {
    background-color: white;
    border-radius: 0%;
    outline: none;
    outline-offset: 0;
    border-bottom: #29ABE2 solid 1px;
}

.add-task-submit-container {
    position: absolute;
    bottom: 10px;
    width: 976px;
    max-width: 976px;
    min-width: 396px;
}

#overlay-div {
    height: 100vh;
    width: 100vw;
    background-color: #0919314b;
    position: absolute;
    top: 0;
    z-index: 999;
}

.dark-background {
    background-color: #2A3647;
    border-radius: 10px;
    color: white;
}

.dark-background:hover {
    background-color: #091931;
}

.ht80 {
    height: 80%;
}

.gap48 {
    display: flex;
    gap: 48px;
}

@media (max-width: 1400px) {
    .main-container {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: center;
        width: auto;
    }
}

@media (max-width: 1350px) {
    .main-div {
        width: 900px;
    }

    .add-task-submit-container {
        width: 854px;
        max-width: 976px;
    }

    .add-task-input-div {
        width: 396px;
        min-width: 396px;
    }

    .add-task-prio-button {
        height: 41px;
        width: 121.33px;
        font-size: 16px;
    }

    .gap48 {
        gap: 33px;
    }

    .form-input-titel {
        font-size: 16px;
    }

    .conditions-text::before {
        font-size: 16px;
    }

    .asterisk::after {
        font-size: 16px;
    }

    .add-task-input {
        font-size: 16px;
    }

    .add-task-textarea {
        font-size: 16px;
    }

    .add-task-select {
        font-size: 16px;
    }

    .input-icon {
        top: 43px;
    }

    #subbtask-input-icon {
        transform: translateY(170%);
    }
}

@media (max-width: 1200px) {
    .main-div {
        width: calc(100vw - 232px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-task-submit-container {
        width: 50vw;
        max-width: 976px;
    }

    .add-task-title {
        width: 50vw;
    }

    .gap48 {
        flex-direction: column;
    }

    .seperator {
        display: none;
    }

    .add-task-input-div {
        width: 50vw;
        /* min-width: 419px; */
    }

    .add-task-prio-button {
        height: 41px;
        width: 121.33px;
    }

    .gap48 {
        gap: 0;
    }

    .add-task-buttons-div {
        justify-content: flex-end;
    }

    .form-input-titel {
        font-size: 20px;
    }

    .conditions-text::before {
        font-size: 20px;
    }

    .asterisk::after {
        font-size: 20px;
    }

    .add-task-input {
        font-size: 20px;
    }

    .add-task-textarea {
        font-size: 20px;
    }

    .add-task-select {
        font-size: 20px;
    }

    .add-task-prio-button {
        font-size: 20px;
        height: 56px;
        width: 136px;
    }

    .input-icon {
        top: 47px;
    }

    #subbtask-input-icon {
        transform: translateY(190%);
    }
}

@media (max-width: 1000px) {
    .add-task-submit-container {
        align-items: center;
    }

    #clear-task-button {
        display: none;
    }

    .main-div {
        height: calc(100vh - 260px);
        width: 100vw;
        padding-top: 60px;
    }

    .main-container {
        height: calc(100vh - 184px);
        max-height: 1024px;
        width: calc(100vw);
    }

    #subbtask-input-icon {
        transform: translateY(190%);
    }
}

@media (max-width: 650px) {
    .add-task-input-div {
        width: 50vw;
    }

    .add-task-prio-button {
        height: 41px;
        width: 121.33px;
        font-size: 16px;
        padding: 4px;
    }

    .form-input-titel {
        font-size: 16px;
    }

    .conditions-text::before {
        font-size: 16px;
    }

    .asterisk::after {
        font-size: 16px;
    }

    .add-task-input {
        font-size: 16px;
    }

    .add-task-textarea {
        font-size: 16px;
    }

    .add-task-select {
        font-size: 16px;
    }

    .input-icon {
        top: 42px;
    }

    #subbtask-input-icon {
        transform: translateY(170%);
    }
}

@media (max-width: 427px) {
    .main-div {
    }

    .add-task-submit-container {
        width: 92vw;
        min-width: 80vw;
    }

    .add-task-title {
        width: 92vw;
        min-width: 80vw;
    }

    .add-task-input-div {
        width: 92vw;
        min-width: 80vw;
    }

    .main-container0 {
        height: calc(100vh - 184px);
        max-height: 1024px;
        width: calc(100vw);
    }

    .main-container0 {
        padding-top: 48px;
    }
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    min-width: 390px;
}

#myInput:focus {
    outline: 3px solid #ddd;
    min-width: 390px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 390px;
    border: 1px solid #ddd;
    z-index: 1;
    /* max-height: 300px; */
}

.add-task-contact-list {
    overflow: auto;
}

.dropdown-content a, .dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: #D1D1D1 solid 1px;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

body {
    overflow: hidden;
}

::-webkit-scrollbar {
    background: #F6F7F8;
    width: 14x;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid #F6F7F8;
}




/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0px 8px 6px 8px;
    border-color: white #F6F7F8 #c3c3c3 #F6F7F8;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: white white #b0b0b0 white;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    border-color: white white #a0a0a0 white;
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 6px 8px 0 8px;
    border-color: #c3c3c3 #F6F7F8 white #F6F7F8;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #b0b0b0 white white white;
}

::-webkit-scrollbar-button:vertical:single-button:increment:active {
    border-color: #a0a0a0 white white white;
}