body button {
    cursor: pointer;
    border: unset;
}

body input {
    border: unset;
}


.board_top {
    width: calc(100vw - 232px);
    height: 232px;
    flex-shrink: 0;
    background: #F6F7F8;
    margin-left: 232px;
    display: flex;
    justify-content: flex-end;
}

.board_h1_button_container {
    display: flex;
    width: 1056px;
    justify-content: space-between;
    align-items: center;
    margin-right: 90px;
}

.board_h1_button_container h1 {
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

}

.board_h1_button_container input {
    display: flex;
    width: 312px;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--icon, #A8A8A8);
    background: #FFF;
    background-image: url(/assets/img/board_Lupe.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 32px 32px;
   outline-width: 0px;
    
}

.board_h1_button_container input:focus{
    border-color: #29ABE2;
}


.board_h1_button_container button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
    color: white;
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%
}

.input_button_container {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;



}



.smal_midlane_main_container {
   
    color: var(--menu-color, #42526E);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    background: #F6F7F8;
    margin-left: 232px;
    gap: 24px;
}

.smal_midlane_main_container button {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid var(--Version-2-main-color, #2A3647);
    margin-right: 8px;
  
}

.smal_midlane_main_container button:hover {
   color: #29ABE2;
    border:2px solid #29ABE2;
}

.midlane_flex_button {
    display: flex;
    width: 252px;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

}


.midlane_last_no_button {
    display: flex;
    width: 244px;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    flex-shrink: 0;
}

.botlane_main_container {
    display: flex;
    width: calc(100vw - 232px);
    height:580px;
    align-items: flex-start;
    gap: 26px;
    flex-shrink: 0;
    overflow-y: auto;
    background: #F6F7F8;
    margin-left: 256px;
    justify-content: flex-start;
}

.todofield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 246px;
}

.board_flex {
    display: flex;
    
}




.no_task_container {
    display: flex;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px dashed var(--icon, #A8A8A8);
    background: #E7E7E7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    width: 246px;
    margin-left: 16px;
}

.no_task_container span {
    color: var(--icon, #A8A8A8);
    /* Version 2/body */
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.progress_await_done {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.progress_await_container {

   
}

.d_none {
    display: none;
}

.vector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.user_story {
    display: flex;
    padding: 4px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #0038FF;
    justify-content: space-between;
    color: white;

}

.user_story_dialog_background {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(211, 211, 211, 0.796);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 999;

}

.users_story_dialog {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80%;
    width:  420px;
   padding: 42px;
    flex-direction: column;
    gap: 40px;
    border-radius: 30px;
    background: #FFF;
    z-index: 9;
    /* nuevo */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    margin-top: 45px;




}

.user_story_dialog h1 {
    font-size: 44px;
}

.user_story_label_x_contrainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


.user_story_label_x_container button {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border: 0px;

    cursor: pointer;
}





.user_story_headline {


    
    color: var(--black, #000);
    /* Version 2/t1 */
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 73.2px */
}

.user_story_description {
 
    color: var(--black, #000);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.user_story_date {
    display: flex;
    align-items: flex-start;
    gap: 25px;
  
}


.user_story_button {
    
}

.story_date {
    color: var(--Version-2-main-color, #2A3647);
    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.user_date {
    color: var(--black, #000);
    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.user_story_priority {
    display: flex;
    align-items: center;
    gap: 25px;
 
}

.story_priority {

    color: var(--Version-2-main-color, #2A3647);
    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
}

.user_priority {
    color: var(--black, #000);
    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

}

.assigned_to {
 
    color: var(--Version-2-main-color, #2A3647);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}


.user_story_delete_edit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

}

.user_story_delete_edit img {
    width: 24px;
    height: 24px;
}



.user_story_delete_edit_one {
    display: flex;
    align-items: center;

}

.user_story_delete_edit_one button {
    border: 0px;
    align-items: center;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.user_story_delete_edit_two {
    display: flex;


}

.user_story_delete_edit_two button {
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}



.stripe {
    height: 20px;
    width: 1px;
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.192);
}

.subtask_center {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 15px;
    padding-top: 15px;
}

.subtask_center img {
    object-fit: cover;
    width: 18px;
}

.postion_mid-bot-container {
    width: calc(100vw - 232px);
    margin-left: 117px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}





/* inter-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/inter-v13-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v13-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v13-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v13-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v13-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@media(min-width:1440px) {

    .botlane_main_container,
    .smal_midlane_main_container,
    .board_top {
        width: 1208px;
    }


}

@media(max-width:1439px) {}

.drag-area {
    height:50vh;
    background-color: rgba(247, 247, 247, 0.1);
    width: 246px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

[id^="todo"]
   {display: flex;
    height: auto;
    width: 200px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    border-radius: 24px;
    background-color: white;
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.117);
    margin-top: 16px;
    cursor: grab;


}





.card_label {
    background-color: blue;
    color: white;
    border-radius: 8px;
    height: 27px;
    padding: 4px 16px 4px 16px;
    display: flex;
    align-items: center;
    
}

.card_title {
    font-weight: bold;

}

.card_description {

}#myProgress {
    width: 100%;
    background-color: rgb(245, 242, 242);
    display: flex;
    align-items: center;
  }
  
  #myBar {
    width: 12%;
    height: 30px;
    background-color: #4589FF;
    height: 8px;
    border-radius: 28px;

  }

  .circle{
    height: 32px;
    width: 32px;
    border-radius: 44px;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: -2px; /* Adjust the margin as needed for overlapping effect */
    transition: margin-left 0.5s ease; /* Add transition effect */

  }

  .circle_two{
    height: 32px;
    width: 32px;
    border-radius: 44px;
    background-color: rgb(9, 188, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: -8px; /* Adjust the margin as needed for overlapping effect */
    transition: margin-left 0.5s ease; /* Add transition effect */
}

  .circle_three{
    height: 32px;
    width: 32px;
    border-radius: 44px;
    background-color: rgb(0, 237, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    margin-left: -8px; /* Adjust the margin as needed for overlapping effect */
    transition: margin-left 0.5s ease; /* Add transition effect */
}

  .circle_four{
    height: 32px;
    width: 32px;
    border-radius: 44px;
    background-color: rgb(225, 1, 210);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
     margin-left: -8px; /* Adjust the margin as needed for overlapping effect */
    transition: margin-left 0.5s ease; /* Add transition effect */
}

  .circle_five{
    height: 32px;
    width: 32px;
    border-radius: 44px;
    background-color: rgb(83, 5, 120);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
     margin-left: -8px; /* Adjust the margin as needed for overlapping effect */
    transition: margin-left 0.5s ease; /* Add transition effect */
}


  .member_flex{
   display: flex;
  justify-content: space-between;
   width: 200px;
  }

  .circle_flex{
    display: flex;
  }
  
  .prio_icon_containers{
 margin-top: 6px;
  

  }

 #myProgress{
    display: flex;
    justify-content: space-between;
 } 
 .circle:hover {
    margin-left: 0px; /* Adjust the margin to 0 on hover */
}
.circle_two:hover {
    margin-left: 0px; /* Adjust the margin to 0 on hover */
}
.circle_three:hover {
    margin-left: 0px; /* Adjust the margin to 0 on hover */
}
.circle_four:hover {
    margin-left: 0px; /* Adjust the margin to 0 on hover */
}
.circle_five:hover {
    margin-left: 0px; /* Adjust the margin to 0 on hover */
}


.input_button_container button:hover{
    background-color: #29ABE2;
    box-shadow: 0px 4px 0px 0px rgba(157, 157, 157, 0.499);
    border: 1px solid #29ABE2 ;
}


.drag-area-highlight {
        transform: rotate(357deg);
        background-color: rgba(0, 255, 8, 0.1); 
}

.drag-area:hover {
   

   
}