/* edit todos */

.main-div-edit {
    height: calc(80vh - 180px);
    max-height: 660px;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.add-task-submit-container-edit {
    width: 50vw;
    max-width: 976px;
    position: absolute;
    bottom: 40px;
    min-width: 396px;
}

.add-task-title-edit {

    margin-bottom: 38px;
  
}

.gap48-edit {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.seperator-edit {
    display: none;
}

.add-task-input-div-edit {

    position: relative;
}


.add-task-prio-button-edit svg {
    width: 20px;
    margin-left: 4px;
}

.add-task-buttons-div-edit {
    justify-content: flex-end;
    display: flex;
    gap: 16px;
}

.form-input-titel-edit {
    font-size: 20px;
    color: #2A3647;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 2px;
    margin-bottom: 8px;
}

.conditions-text-edit::before {
    content: "*";
    color: #FF8190;
    font-size: 20px;
    vertical-align: middle;
}

.asterisk-edit::after {
    content: "*";
    color: #FF8190;
    font-size: 20px;
    vertical-align: middle;
}

.add-task-input-edit {
    height: 48px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    font-size: 20px;
    padding-left: 21px;
    outline-width: 0px;
    width: 374px;
}

.add-task-textarea-edit {
    height: 120px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    margin-bottom: 28px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding-left: 21px;
    padding-top: 19px;
    outline-width: 0px;
    width: 374px;
}

.add-task-select-edit {
    height: 48px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    font-size: 20px;
    margin-bottom: 28px;
    padding-left: 21px;
    outline-width: 0px;
    width: 374px;
}

.add-task-prio-button-edit {
    font-size: 20px;
    height: 56px;
    width: 119px;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    background-color: white;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition: box-shadow 80ms ease-in;
}

.input-icon-edit {
    position: absolute;
    z-index: 10;
    display: inline-block;
    right: 16px;
    top: 47px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    background-color: transparent;
    border-radius: 50px;
    padding: 8px;
}

#subbtask-input-icon-edit {
    display: flex;
    position: absolute;
    right: 16px;
    transform: translateY(190%);
}

#subbtask-input-icon-edit svg {
    height: 24px;
    width: 24px;
    transition: all 0.15s ease-in-out;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    min-width: 390px;
}

#myInput:focus {
    outline: 3px solid #ddd;
    min-width: 390px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 390px;
    border: 1px solid #ddd;
    z-index: 1;
}

.add-task-contact-list {
    overflow: auto;
}

.dropdown-content a,
.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: #D1D1D1 solid 1px;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

body {
    overflow: hidden;
}

.subbtask_subspan {
    align-items: center;
    border-radius: 10px;
    border: none;
    display: flex;
    transition: background-color 125ms ease-in-out;
    width: 374px;
    gap: 12px;
}

#subtaskContainer {
    display: flex;
    align-items: flex-start;
    padding-top: 15px;
    flex-direction: column;
    overflow-y: auto;
    height: 10vh;
}

.task_name_container {
    display: flex;
    align-items: center;
    gap: 16px;
}

[id^="myProgresstodo"] {
    width: 100%;
}

.display_none_arrows {
    display: none;
}

.add-task-div-edit {
    background-color: white;
    border-radius: 30px;
    padding: 16px;
    position: relative;
    height: calc(90vh - 84px);
    max-height: 900px;
    
}

.subtask-button-edit {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 24px;
}

#prio-button-urgent-edit svg {
    fill: #FF3D00;
}

#prio-button-medium-edit svg {
    fill: #FFA800;
}

#prio-button-low-edit svg {
    fill: #7AE229;
}

.edit-button{
    width: 90px !important;
}