.subtask_center {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 15px;
    margin-left: 12px;
}
.subtask_center img {
    object-fit: cover;
    width: 16px;
    height: 16px;
    align-self: center;
}
.postion_mid-bot-container {
    width: calc(100vw - 232px);
    margin-left: 117px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.drag-area {
    height: calc(100vh - 334px);
    background-color: rgba(247, 247, 247, 0.1);
    width: 278px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 207, 239, 0.3) transparent;
}
.drag-area:hover {
    overflow: auto;
    padding-right: 0px;
}
[id^="todo"] {
    display: flex;
    height: auto;
    width: 252px;
    height: auto;
    max-height: 300px;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    border-radius: 24px;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.09);
    margin-top: 16px;
    cursor: grab;
    margin-left: 8px;
}
.card_label {
    background-color: blue;
    color: white;
    border-radius: 8px;
    height: 27px;
    padding: 4px 16px 4px 16px;
    display: flex;
    align-items: center
}
.card_title {
    font-weight: bold;
}
#myProgress {
    width: 100%;
    background-color: rgb(245, 242, 242);
    display: flex;
    align-items: center;
}
#myBar {
    width: 12%;
    height: 30px;
    background-color: #4589FF;
    height: 8px;
    border-radius: 28px;
}
.circle {
    height: 32px;
    width: 32px;
    border-radius: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: -2px;
    transition: margin-left 0.5s ease;
}
.circle_two {
    height: 32px;
    width: 32px;
    border-radius: 44px;
    background-color: rgb(9, 188, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: -8px;
    transition: margin-left 0.5s ease;
}
.circle_three {
    height: 32px;
    width: 32px;
    border-radius: 44px;
    background-color: rgb(0, 237, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: -8px;
    transition: margin-left 0.5s ease;
}
.circle_four {
    height: 32px;
    width: 32px;
    border-radius: 44px;
    background-color: rgb(225, 1, 210);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: -8px;
    transition: margin-left 0.5s ease;
}
.circle_five {
    height: 32px;
    width: 32px;
    border-radius: 44px;
    background-color: rgb(83, 5, 120);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: -8px;
    transition: margin-left 0.5s ease;
}
#board_member_content {
    display: flex;
    flex-direction: column;
    padding-left: git a8px;
}
.member_flex {
    display: flex;
    width: 200px;
}
#updown_arro img {
    height: 20px;
    border: unset;
}
.circle_flex {
    display: flex;
    gap: 8px;
    margin-top: 12px;
    margin-bottom: 16px;
}
.prio_icon_containers {
    margin-top: 6px;
}
#myProgress {
    display: flex;
    justify-content: space-between;
}
.circle:hover {
    margin-left: 0px;
}
.circle_two:hover {
    margin-left: 0px;
}
.circle_three:hover {
    margin-left: 0px;
}
.circle_four:hover {
    margin-left: 0px;
}
.circle_five:hover {
    margin-left: 0px;
}
.input_button_container button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 0px 0px rgba(157, 157, 157, 0.499);
    border: 1px solid #29ABE2;
}
.button_img img {
    height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
}
.button_img button {
    height: 49px;
    margin-top: 12px;
    margin-right: 12px;
}
.button_img {
    margin-top: 0px;
}
.drag-area-highlight {
    transform: rotate(357deg);
    background-color: rgba(0, 255, 8, 0.1);
}
.h1_input_media_flex {
    display: flex;
}
.background_div {
    display: flex;
}