@media(min-width:1440px) {
    header {
        width: 1208px;
    }

    #contact_list {
        padding: 0px 0px 0px 100px !important;
    }
}

@media(max-width:1210px) {

    #contact_edit_button {
        display: none;
    }

    header {
        width: 100vw;
    }

    .dnone {
        display: block;
    }

    .menu {
        display: none;
    }

    .mobile-sideMenu {
        display: flex;
    }

    .mobile-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 12px;
        gap: 10px;
        /* max-width: 89%; */
        position: fixed;
        height: 80px;
        bottom: 0;
        left: 0;
        right: 0;
        background: #2A3647;
        z-index: 999;
    }

    .mobile-menu_link_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: white;
    }

    .mobile-menu_link_container.active {
        background-color: #091931;
    }

    .mobile-menu_link_container img {
        height: 32px;
        width: 32px;
        object-fit: fill;
    }

    .d-none {
        display: flex;
    }


    .contact_overview_header,
    #contact_overview {
        display: none;
        position: absolute;
        top: 104px;
        bottom: 80px;
        left: 0px;
        right: 0px;
        background-color: rgb(246, 247, 248);
        z-index: 998;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        margin-top: 0px;
        min-width: 300px;
    }

    #contactlist_edit_icon_container,
    #contactlist_delete_icon_container {
        display: none;
    }

    .contact_overview_header {
        display: none;
    }

    #contact_overview_top {
        flex-direction: column;
    }

    #contact_list {
        width: calc(100vw - 232px);
        align-items: unset;
    }

    .divide_container img {
        width: 72vw;

    }

    #add_contact_overlay {
        width: unset;
        height: unset;
        border-radius: 36px;
        background: #FFF;
        display: flex;
        flex-direction: column;
        transform: translateY(200%);
    }

    .add_contact_close_container_handy {
        display: flex;
    }

    .add_contact_close_container {
        display: none;
    }

    .left_side_add_contact_overlay {
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
        height: 352px;
        width: 396px;
        padding: 0px;
        justify-content: flex-start;
        align-items: center;
        min-width: 396px;
    }

    .right_side_add_contact_overlay {
        height: 400px;
        width: 396px;
        flex-direction: column;
        justify-content: flex-end;
        gap: 0px;
    }

    .right_side_add_contact_overlay input {
        width: 310px;
        justify-content: space-between;
        align-items: center;
    }

    .input_container {
        height: 41px;
        width: 364px;
        padding: 0px;
    }

    .add_contact_close_container_handy {
        width: 90%;
        margin-top: 32px;
        padding-bottom: 64px;
    }

    #contact_list_logo_handy {
        display: none;
    }

    #add_contact_headline {
        font-size: 47px;
        line-height: 56.4px;
    }

    #under_headline {
        font-size: 20px;
        line-height: 24px;
    }

    .add_contact_overlay_text_container {
        gap: 8px;
        width: 332px;
    }

    .center_up {
        width: 396px;
        margin-bottom: 34px;
    }

    #contact_save_button {
        padding: 0px;
        width: 202px;
        height: 51px;
        gap: 0px;
    }

    #contact_cancel_button {
        padding: 0px;
        width: 104px;
        height: 51px;
    }



    .right_side_add_contact_overlay form {
        gap: 24px;
    }

    .contact_list_container {
        width: 72vw;
    }

    .contact_information_container img {
        display: flex;
        cursor: pointer;
        border-radius: 56px;
        align-self: flex-end;
    }

    .contact_information_container img:hover {
        scale: 1.1;
        background-color: rgba(0, 0, 0, 0.1);

    }

    .contact_information_container {
        height: 72vh;
    }

    #contact_list button {
        display: none;
    }

    .contactlist_button_container {
        display: none;
    }

    #contactlist_add_contact_button {
        display: flex;
    }

    #contactlist_add_contact_options_button:hover,
    #contactlist_add_contact_button:hover {
        background-color: #29ABE2;
    }

    #contactlist_add_contact_options_button:active,
    #contactlist_add_contact_button:active {
        background-color: #29ABE2;
    }

    #contact_list {
        padding: 0;
        width: 100vw;
        height: 78vh;
    }


    .divide_container img {
        width: 90vw;
        align-self: center;
    }

    .contact_list_container {
        width: 90vw;
    }

    [id^="contact_list_names"] {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        width: 100vw;
    }

}


@media(max-width:420px) {
    .left_side_add_contact_overlay {
        min-width: 320px;
        width: 320px;
        height: 320px;
        align-items: flex-start;
    }

    #add_contact_overlay {
        width: 320px;
    }

    .center_up {
        width: 336px;
        margin-bottom: 18px;
    }

    .right_side_add_contact_overlay input {
        width: 246px;

    }

    .right_side_add_contact_overlay {
        height: 370px;
    }

    .input_container {
        width: 308px;
    }

    .add_contact_overlay_text_container {
        width: 320px;
        margin-left: 20px;
    }

    .contact_information_container {
        height: 72vh;
    }

    #contact_cancel_button {
        display: none;
    }

}