body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#contact_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 104px);
    max-height: calc(1024px - 104px);
    width: 400px;
    padding: 0px 0px 0px 259px;
    background-color: white;
}

#contact_list button {
    display: flex;
    width: 302px;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
    color: var(--white, #FFF);
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.contactlist_button_container {
    display: flex;
    padding: 22.5px 0px;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 302px;
}

#contact_list button:hover {
    cursor: pointer;
    background-color: #29ABE2;
    border-color: #29ABE2;
}

.contact_little_icon_container:hover {
    cursor: pointer;
}

#contactlist_button_container img {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}


[id^="contactlist_alphabet_sorting_container"] {
    display: flex;
    padding: 17px 36px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

[id^="contact_list_names"] {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.contact_list_container {
    display: flex;
    width: 332px;
    padding: 15px 24px;
    align-items: center;
    gap: 35px;
    border-radius: 10px;
    background: #FFF;
    transition: 0.08s ease;
}

.contact_list_container:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.contact_list_picture {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}

[id^="contact_list_initals"] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 45px;
    height: 42px;
    width: 42px;
    color: white;
    border: 2px solid white;
}

.contact_list_overview_initals {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 64px;
    height: 120px;
    width: 120px;
    color: white;
    border: 2px solid white;
    font-family: 'Inter' sans-serif;
    font-weight: 500;
    font-size: 47px;
}

.divide_container {
    display: flex;
    padding: 8px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

#contact_overview_top {
    display: flex;
    align-items: center;
    gap: 54px;
    
}


.contact_overview_name_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.contact_little_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #2A3647;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.contact_little_icon_container img {
    height: 24px;
    width: 24px;
}

.contact_overview_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

#contact_overview_mail {
    color: #007CEE;
    text-decoration: none;
}

#contact_overview_phone {
    color: #000;
    text-decoration: none;
}

#contact_information {
    display: flex;
    width: 207px;
    height: 74px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.contact_overview_footer_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

#contact_overview_name {
    color: #000;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.contact_information_container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    height: 50vh;
}

[id^="contact_list_mail"] {
    color: #007CEE;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
}

#contact_overview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 56px;
    margin-top: 40px;
    min-width: 572px;
    transition: transform 125ms ease-in-out;
    transform: translateX(200%);
}

.contact_overview_header {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-top: 72px;
    margin-left: 56px;
}

#contact_overview h1 {
    color: #000;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.contact_overview_header span {
    color: #2A3647;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

#contact_initials_container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 120px;
    width: 120px;
    font-size: 47px;
    font-family: 'Inter' sans-serif;
    font-weight: 500;
    border-radius: 70px;
    border: 3px solid white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    color: white;
    background-color: rgb(209, 209, 209);
}

.initials {
    display: flex;
    width: 80px;
    height: 28.571px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}


#under_headline {
    color: var(--white, #FFF);
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}



