body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: rgb(246, 247, 248);
}

#contact_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 104px);
    max-height: calc(1024px - 104px);
    width: 400px;
    padding: 0px 0px 0px 259px;
    background-color: white;
}

#contact_list button {
    display: flex;
    width: 302px;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
    color: var(--white, #FFF);
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.contactlist_button_container {
    display: flex;
    padding: 22.5px 0px;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 302px;
}

#contact_list button:hover {
    cursor: pointer;
    background-color: #29ABE2;
    border-color: #29ABE2;
}

.contact_little_icon_container:hover {
    cursor: pointer;
}

#contactlist_button_container img {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

#contactlist_overlay_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    z-index: 999;
}

#contactlist_add_contact_button {
    position: fixed;
    bottom: 100px;
    right: 16px;
    z-index: 999;
    background-color: #2A3647;
    height: 56px;
    width: 56px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 46px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

#contactlist_add_contact_button img {
    height: 32px;
    width: 32px;
}

#contactlist_add_contact_button:hover {
    cursor: pointer;
}

.contactlist_mid_layer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

[id^="contactlist_alphabet_sorting_container"] {
    display: flex;
    padding: 17px 36px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

[id^="contact_list_names"] {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.contact_list_container {
    display: flex;
    width: 332px;
    padding: 15px 24px;
    align-items: center;
    gap: 35px;
    border-radius: 10px;
    background: #FFF;
    transition: 0.08s ease;
}

.contact_list_container:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.contact_list_picture {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}

[id^="contact_list_initals"] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 45px;
    height: 42px;
    width: 42px;
    color: white;
    border: 2px solid white;
}

.contact_list_overview_initals {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 64px;
    height: 120px;
    width: 120px;
    color: white;
    border: 2px solid white;
    font-family: Inter;
    font-weight: 500;
    font-size: 47px;
}

.divide_container {
    display: flex;
    padding: 8px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

#contact_overview_top {
    display: flex;
    align-items: center;
    gap: 54px;
}


.contact_overview_name_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.contact_little_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #2A3647;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.contact_little_icon_container img {
    height: 24px;
    width: 24px;
}

.contact_overview_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

#contact_overview_mail {
    color: #007CEE;
    text-decoration: none;
}

#contact_overview_phone {
    color: #000;
    text-decoration: none;
}

#contact_information {
    display: flex;
    width: 207px;
    height: 74px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.contact_overview_footer_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

#contact_overview_name {
    color: #000;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.contact_information_container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    height: 50vh;
}

#add_contact_overlay {
    width: 1212px;
    height: 592px;
    border-radius: 36px;
    background: #FFF;
    display: flex;
    transform: translateX(200%);
    transition: transform 125ms ease-in-out;
}

#add_contact_headline {
    color: #FFF;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

[id^="contact_list_mail"] {
    color: #007CEE;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
}

#contact_overview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 56px;
    margin-top: 40px;
    min-width: 572px;
    transition: transform 125ms ease-in-out;
    transform: translateX(200%);
}

.contact_overview_header {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-top: 72px;
    margin-left: 56px;
}

#contact_overview h1 {
    color: #000;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.contact_overview_header span {
    color: #2A3647;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

#contact_initials_container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 120px;
    width: 120px;
    font-size: 47px;
    font-family: Inter;
    font-weight: 500;
    border-radius: 70px;
    border: 3px solid white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    color: white;
    background-color: rgb(209,209,209);
}

.initials {
    display: flex;
    width: 80px;
    height: 28.571px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.left_side_add_contact_overlay {
    display: inline-flex;
    height: 594px;
    padding: 0px 46px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    background: var(--Version-2-main-color, #2A3647);
    min-width: 453px;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

#under_headline {
    color: var(--white, #FFF);
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.add_contact_overlay_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

#contact_cancel_button {
    height: 56px;
    font-size: 21px;
    background-color: transparent;
    border-radius: 10px;
    color: #2A3647;
    padding: 16px;
    border: #2A3647 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 80ms ease-in, border-color 80ms ease-in, box-shadow 80ms ease-in;
}

#contact_cancel_button:hover {
    color: #29ABE2;
    border-color: #29ABE2;
    transition: color, border-color, box-shadow 8000ms ease-out;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 80ms ease-out, border-color 80ms ease-out, box-shadow 80ms ease-out;
    cursor: pointer;
}

#contact_save_button:hover{
    cursor: pointer;
}

#contact_save_button {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 0px;
    border-radius: 10px;
    background: #2A3647;
    color: #FFF;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

#contact_save_button img {
    height: 24px;
    width: 24px;
}

.add_contact_close_container {
    width: 103%;
    display: flex;
    justify-content: end;
}

.add_contact_close_container_handy {
    width: 100%;
    display: none;
    justify-content: end;
}

.add_contact_close_container img:hover,
.add_contact_close_container_handy img:hover {
    cursor: pointer;
}

.right_side_add_contact_overlay {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.right_side_add_contact_overlay form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.right_side_add_contact_overlay input {
    display: flex;
    width: 380px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.input_container {
    display: flex;
    align-items: center;
}

.input_container img {
    width: 24px;
    height: 24px;
    margin-left: -40px;
}

.input_container input {
    display: flex;
    width: 332px;
    padding: 13px 21px;
    align-items: center;
    border-radius: 10px;
    border: #D1D1D1 solid 1px;
    background: #FFF;
    line-height: 120%;
    outline-width: 0px;
}

.input_container input:hover {
    border-color: #29ABE2;
}

.input_container input:focus {
    border-color: #29ABE2;
}

.edit_contact_button_container {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    gap: 25px;
    margin-top: 4px;
    margin-bottom: 24px;
}

.edit_formular_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contactlist_delete_icon_container {
    height: 24px;
    width: 24px;
    background-image: url(../contactbook/icons_contactbook/delete.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    padding-left: 56px;
    align-items: center;
    color: var(--Version-2-main-color, #2A3647);
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

#contactlist_edit_icon_container {
    height: 24px;
    width: 24px;
    background-image: url(../contactbook/icons_contactbook/edit.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    padding-left: 56px;
    align-items: center;
    color: var(--Version-2-main-color, #2A3647);
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

#contactlist_delete_icon_container:hover {
    height: 24px;
    width: 24px;
    background-image: url(../contactbook/icons_contactbook/delete_blue.svg);
    color: #29ABE2;
    cursor: pointer;
    scale: 1.0;
    font-weight: 700;
}

#contact_save_button:hover {
    background-color: #29ABE2;
    border-color: #29ABE2;
}

#contactlist_edit_icon_container:hover {
    height: 24px;
    width: 24px;
    background-image: url(../contactbook/icons_contactbook/edit_blue.svg);
    color: #29ABE2;
    cursor: pointer;
    scale: 1.0;
    font-weight: 700;
}

.contact_information_container img {
    display: none;
}

#contact_edit_button {
    display: none;
    height: 56px;
    font-size: 21px;
    background-color: #2A3647;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 16px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 80ms ease-in, border-color 80ms ease-in, box-shadow 80ms ease-in;
}

#contact_edit_button:hover{
    background-color: #29ABE2;
}

.center_up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marginL-24 {
    margin-left: -24px;
}

.selected{
    background-color: #091931;
    color: white;
}

@media(min-width:1440px) {
    header {
        width: 1208px;
    }

    #contact_list {
        padding: 0px 0px 0px 100px !important;
    }
}

@media(max-width:1210px) {

    #contact_edit_button{
        display: none;
    }

    header{
        width: 100vw;
    }
    .dnone{
        display: block;
    }
    .menu {
        display: none;
    }

    .mobile-sideMenu {
        display: flex;
    } 

    .mobile-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 12px;
        gap: 10px;
        /* max-width: 89%; */
        position: fixed;
        height: 80px;
        bottom: 0;
        left: 0;
        right: 0;
        background: #2A3647;
        z-index: 999;
    }
    
    .mobile-menu_link_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: white;
    }
    .mobile-menu_link_container.active {
        background-color: #091931;
    }
    .mobile-menu_link_container img {
        height: 32px;
        width: 32px;
        object-fit: fill;
    }
    .d-none {
        display: flex;
    }


    .contact_overview_header,
    #contact_overview {
        display: none;
        position: absolute;
        top: 104px;
        bottom: 80px;
        left: 0px;
        right: 0px;
        background-color: white;
        z-index: 999;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        margin-top: 0px;
        min-width: 300px;
    }

    .contact_overview_header {
        display: none;
    }

    #contact_overview_top {
        flex-direction: column;
    }

    #contact_list {
        width: calc(100vw - 232px);
        align-items: unset;
    }

    .divide_container img {
        width: 72vw;

    }

    #add_contact_overlay {
        width: unset;
        height: unset;
        border-radius: 36px;
        background: #FFF;
        display: flex;
        flex-direction: column;
        transform: translateY(200%);
    }

    .add_contact_close_container_handy {
        display: flex;
    }

    .add_contact_close_container {
        display: none;
    }

    .left_side_add_contact_overlay {
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
        height: 352px;
        width: 396px;
        padding: 0px;
        justify-content: flex-start;
        align-items: center;
        min-width: 396px;
    }

    .right_side_add_contact_overlay {
        height: 400px;
        width: 396px;
        flex-direction: column;
        justify-content: flex-end;
        gap: 0px;
    }

    .right_side_add_contact_overlay input {
        width: 310px;
        justify-content: space-between;
        align-items: center;
    }

    .input_container {
        height: 41px;
        width: 364px;
        padding: 0px;
    }

    .add_contact_close_container_handy {
        width: 90%;
        margin-top: 32px;
        padding-bottom: 64px;
    }

    #contact_list_logo_handy {
        display: none;
    }

    #add_contact_headline {
        font-size: 47px;
        line-height: 56.4px;
    }

    #under_headline {
        font-size: 20px;
        line-height: 24px;
    }

    .add_contact_overlay_text_container {
        gap: 8px;
        width: 332px;
    }

    .center_up {
        width: 396px;
        margin-bottom: 34px;
    }

    #contact_save_button {
        padding: 0px;
        width: 202px;
        height: 51px;
        gap: 0px;
    }

    #contact_cancel_button {
        padding: 0px;
        width: 104px;
        height: 51px;
    }



    .right_side_add_contact_overlay form {
        gap: 24px;
    }

    .contact_list_container {
        width: 72vw;
    }

    .contact_information_container img {
        display: flex;
        cursor: pointer;
        border-radius: 56px;
        align-self: flex-end;
    }

    .contact_information_container img:hover {
        scale: 1.1;
        background-color: rgba(0, 0, 0, 0.1);

    }

    .contact_information_container{
        height: 72vh;
    }

    #contact_list button {
        display: none;
    }

    .contactlist_button_container {
        display: none;
    }

    #contactlist_add_contact_button {
        display: flex;
    }

    #contactlist_add_contact_button:hover {
        background-color: #29ABE2;
    }


    #contactlist_add_contact_button:active {
        background-color: #29ABE2;
    }

    #contact_list {
        padding: 0;
        width: 100vw;
        height: 78vh;
    }


    .divide_container img {
        width: 90vw;
        align-self: center;
    }

    .contact_list_container {
        width: 90vw;
    }

    [id^="contact_list_names"] {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        width: 100vw;
    }

}

@media(max-width:420px) {
    .left_side_add_contact_overlay {
        min-width: 320px;
        width: 320px;
        height: 320px;
        align-items: flex-start;
    }

    #add_contact_overlay {
        width: 320px;
    }

    .center_up {
        width: 336px;
        margin-bottom: 18px;
    }

    .right_side_add_contact_overlay input {
        width: 246px;

    }

    .right_side_add_contact_overlay {
        height: 370px;
    }

    .input_container {
        width: 308px;
    }

    .add_contact_overlay_text_container {
        width: 320px;
        margin-left: 20px;
    }

    .contact_information_container{
        height: 72vh;
    }

    #contact_cancel_button {
        display: none;
    }

}