.legal_container {
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    padding: 64px 32px 16px 64px;
    height: calc(91vh - 104px);
    overflow-y: auto;
}
.legal_list {
    list-style-type: disc;
    padding-left: 20px;
}

h2,
h3{
    margin-block-start: 24px;
    margin-block-end: 0;
}



a {
    color: #29ABE2;
    text-decoration: none;
    cursor: pointer;
}

@media(max-width:1000px){
    .legal_container{
        margin-left: 0px;
    }
}

@media(max-width:420px){
    .legal_container{
        padding-left: 4px;
        padding-right: 4px;
    }

    h1{
        font-size: 48px;
    }
}

@media(min-width:1440px){
    .legal_container{
        width: 66vw;
    }
}