* {
    font-family: "Inter";
    font-style: normal;
    margin: 0;
    box-sizing: content-box;
  }
  
  section {
    display: flex;
    height: 100vh; 
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
  }
  .headIcon {
    display: flex;
  }
  
  .headIcon img {
    position: absolute;
    left: 5.35%;
    width: 100.03px;
    height: 121.97px;
    top: 7.81%;
  }
  
  .contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
  
    padding: 35px 0px;
    /* gap: 35px; */
  
    width: 652px;
    height: 559px;
    background: #ffffff;
  
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    position: relative;
  }
  
  .backArrow img {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 31px;
    top: 34.5px;
    cursor: pointer;
  }
  
  .headlineBox {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
    /* gap: 24px; */
    padding-bottom: 16px;
    
  }
  
  .headline {
    width: 627px;
    height: 73px;
  
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
  
    text-align: center;
  
    color: #000000;
  
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .headlineBoxText p {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
  
    text-align: center;
  
    color: #000000;
  }
  
  .inputFieldBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
  
    width: 422px;
    /* height: 271px; */
  
    /* flex: none;
    order: 0;
    flex-grow: 0; */
  }
  
  .nameMailPasswordInputField {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 13px 21px;
    gap: 10px;
  
    width: 422px;
    height: 51px;
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
  
    border: 1px solid #d1d1d1;
    border-radius: 10px;
  }
  
  .nameMailPasswordInputField input {
    border: none;
    width: 90%;
    height: 71px;
  
    color: black;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
  
    flex: none;
    order: 0;
    flex-grow: 0;
    outline: none;
  }
  
  .nameMailPasswordInputField img {
    width: 20px;
    height: 18px;
    /* icon */
  
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .form-checkbox {
    padding-bottom: 32px;;
  }
  .signUpBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px;
    /* margin-top: 22px; */
    width: 145px;
    height: 51px;
    gap: 32px;
    background: #2a3647;
    border-radius: 8px;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
  
    border: none;
    color: #ffffff;
    cursor: pointer;
  }
  
  .signUpBtn:hover {
    background: #29abe2;
    cursor: pointer;
  }
  