.body {
    /* V1 summary user */
    /* position: relative;
    width: 1440px;
    height: 1024px; */
    background: #F5F5F5;
}

.main-container {
    padding-top: 110px;
    padding-left: 96px;
    width: calc(100vw - 232px);
    max-width: calc(1440px - 232px);
    height: calc(100vh - 104px);
    max-height: calc(1024px - 104px);
    background: #F6F7F8;
    overflow: auto;
    box-sizing: border-box;
}

.summary-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    /* position: absolute; */
    height: 73px;
    left: 355px;
    top: 171px;
    padding-bottom: 56px;
}

.summary-headline {
    height: 73px;
    /* Version 2/t1 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    /* or 73px */
    color: #000000;
    flex: none;
    /* order: 0; */
    flex-grow: 0;
}

.summary-line {
    width: 0px;
    height: 59px;
    border: 3px solid #29ABE2;
    /* Inside auto layout */
    flex: none;
    /* order: 1; */
    flex-grow: 0;
}

.summary-titelText {
    /* Everything in a nutshell! */
    height: 32px;
    /* Version 2/t5 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    /* or 32px */
    color: #2A3647;
    /* Inside auto layout */
    flex: none;
    /* order: 2; */
    flex-grow: 0;
}

.summary-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 580px;
    height: 540px;
    left: 355px;
    top: 331px;
    user-select: none;
}

.summary-left a {
    text-decoration: none;
}

.summary-content {
    display: flex;
    gap: 50px;
    width: 100%;
    max-width: 100%;
}

/* .summary-left{
    height: 200px;
} */
.summary-task {
    /* Frame 64 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 580px;
    height: 170px;
    /* Inside auto layout */
    flex: none;
    /* order: 0; */
    flex-grow: 0;
}

.task-type {
    /* square button v1 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    gap: 13px;
    width: 170px;
    /* height: 170px; */
    /* white */
    background: #FFFFFF;
    /* nuevo */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    /* Inside auto layout */
    flex: none;
    /* order: 0; */
    flex-grow: 0;
    color: #000000;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    user-select: none;
}

/* .task-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 87px;
    height: 127px;
} */
.task-type:hover {
    background: #2A3647;
    /* stronger */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    cursor: pointer;
}

.task-type:active {
    background: #FFFFFF;
    color: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.task-counter {
    /* width: 41px; */
    height: 77px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
}

.task-description {
    width: 87px;
    height: 50px;
    /* Version 2/t6 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    text-align: center;
}

.summary-task-deadline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 61px;
    width: 580px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    flex: none;
    /* order: 1; */
    flex-grow: 0;
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 47px;
    line-height: 120%;
    text-align: center;
}

.summary-task-deadline:hover {
    background: #2A3647;
    /* stronger */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #FFFFFF;
    cursor: pointer;
}

.summary-task-deadline:active {
    background: #FFFFFF;
    /* stronger */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
}

.summary-todo a{
    color: black;
}

.urgent {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 18px;
    width: 130px;
    height: 75px;
}

.urgent-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 60px;
    height: 60px;
    /* Inside auto layout */
    flex: none;
    /* order: 0; */
    flex-grow: 0;
}

#urgent-counter {
    width: 50px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 47px;
    line-height: 120%;
    /* or 56px */
    text-align: center;
}

.urgent-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

}

.task-urgent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 52px;
    height: 75px;
    /* Inside auto layout */
    flex: none;
    /* order: 1; */
    flex-grow: 0;
}

.urgent-line {
    width: 0px;
    height: 102.02px;
    /* Style */
    border: 2px solid #D1D1D1;
    /* Inside auto layout */
    flex: none;
    /* order: 1; */
    flex-grow: 0;
}

.deadline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
    width: 178px;
    height: 57px;
    /* Inside auto layout */
    flex: none;
    /* order: 2; */
    flex-grow: 0;
}

.deadline-day {
    width: 178px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

.deadline-description {
    width: 148px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

/* bottom task content */
.summary-todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: 580px;
    height: 150px;
    /* Inside auto layout */
    flex: none;
    /* order: 1; */
    flex-grow: 0;
}



.task-todo,
.task-done {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 272.5px;
    height: 150px;
    /* white */
    background: #FFFFFF;
    /* nuevo */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    /* Inside auto layout */
    flex: none;
    /* order: 1; */
    flex-grow: 0;
}

.summary-todo-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 66px;
    height: 102px;
    flex: none;
    /* order: 1; */
    flex-grow: 0;
}

.task-counter-todo {
    width: 41px;
    height: 77px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
}

.todo-description {
    width: 87px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
}

.task-todo:hover,
.task-done:hover {
    background: #2A3647;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #FFFFFF;
    cursor: pointer;
}

.todo-img {
    background: url(../img/summary-pencil-dark.png);
    background-size: cover;
}

.task-todo:hover .todo-img {
    background: url(../img/summary-pencil-white.png) no-repeat;
}

.done-img {
    background: url(../img/summary-done-dark.png);
    background-size: cover;
}

.task-done:hover .done-img {
    background: url(../img/summary-done-white.png) no-repeat;
}

.todo-img,
.done-img {
    height: 69px;
    width: 69px;
    border-radius: 50%;
}

/* .task-todo:hover .pencil {
    background: url('/assets/img/summary-pencil-white.png');
    filter: invert(0); 
    background-size: cover;
} */
/* 
.task-todo:hover .done {
    background: url('/assets/img/summary-done-white.png');
    background-size: cover;
} */

.task-todo:active {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #000000;
}

/* 
.task-todo:active .todo-img{
    filter: invert(1);
} */

.summary-welcome-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    width: 338px;
    /* Version 2/t2 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    /* or 56px */
    color: #2A3647;
    /* Inside auto layout */
    flex: none;
    /* order: 0; */
    flex-grow: 0;
}

.good-morning {
    width: 392px;
    height: 56px;
    /* Version 2/t2 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    /* or 56px */
    color: #2A3647;
}

.user-name {
    width: 385px;
    height: 77px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: #29ABE2;
    text-transform: capitalize;

}

.mobile-summary-header {
    display: none;
}

@media(max-width: 1370px) {
    .summary-welcome-user {
        display: none;
    }

    .mobile-summary-header {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 1000px) {
    .main-container {
        padding-top: 40px;
        padding-left: 0;
        width: 100vw;
        height: calc(100vh - 184px);
        display: flex;
        justify-content: center;
    }

    .summary-header {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 0px;
        padding-top: 79px;
    }

    .summary-line {
        width: 90px;
        height: 0px;
    }

    .summary-titelText {
        order: 0;
    }

    .summary-welcome-user {
        display: none;
    }

    .mobile-summary-header {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 400px;
    }

    .mobile-toolName {
        display: block;
        margin-top: 35px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #000000;
    }

    .summary-header {
        display: none;
    }

    .summary-left {
        display: flex;
        padding-left: 0;
        /* width: 363px; */
        height: 378px;
        left: 33px;
        top: 326px;
        /* position: absolute;  */
        max-width: 600px;
        box-sizing: border-box;

    }

    .MasterContainerInsidecl {
        padding-left: 0px;
    }
}

@media (min-width:318px) and (max-width: 650px) {
    .task-todo, .task-done {
        width: 186px;
    }

    .task-todo, .task-done, .summary-task-deadline, .task-type {
        height: 110px;
    }

    .summary-task-deadline {
        width: 396px;
    }

    .task-type {
        width: 116px;
    }

    .summary-left {
        width: auto;
    }

    .summary-todo {
        width: auto;
        gap: 24px;
    }

    .summary-task{
        width: auto;
        gap: 24px;
    }

    .summary-content {
        display: block;
        width: 50%;
    }
}