<header class="header">
    <div class="header_flex_container">
        <img id="header_handy_image" src="./assets/img/join_logo-dark.png" alt="">
        <span>Kanban Project Management Tool</span>
        <div class="header_icon_container">
            <a href="../help.html">
                <img id="help_icon" src="./assets/img/help_placeholder.png" alt="Help Icon">
            </a>
            <div  onclick="toggleDropDown()">
                <div class="profilImg">
                    <img  id="sm_icon" src="./assets/img/sm_placeholder.png" alt="" >
                </div>
                <!-- <img  class="profilImg" id="profilImg" id="sm_icon" src="./assets/img/sm_placeholder.png" alt="" >   -->
                <div class="dropdown-links d-none" id="dropdown-links">
                    <a class="dropdown " href="../legal_notice.html">Legal Notice</a>
                    <a class="dropdown " href="../privacy_policy.html">Privacy Policy</a>
                    <a  class="dropdown" href="../logIn.html">Log out</a>
                    <a  class="dropdown d-none" href="../help.html">Log out</a>
                </div>
            </div>
        </div>
        
    </div>

</header>