<header class="header">
    <div class="header_flex_container">
        <img id="header_handy_image" src="../assets/img/join_logo-dark.png" alt="">
        <span>Kanban Project Management Tool</span>
        <div class="header_icon_container">
            <a href="../help.html">
                <img id="help_icon" src="./assets/img/help_placeholder.png" alt="Help Icon">
            </a>
            <img id="sm_icon" src="./assets/img/sm_placeholder.png" alt="">
        </div>
    </div>

</header>