<div class="menu">
    <img src="./assets/img/join_logo.png" alt="">
    <nav>
        <div>
            <div class="menu_link_container">
                <div class="hw30"> 
                <img id="menu_icon" src="./assets/img/summary_white.png" alt=""></div>
                <a href="./summary.html">Summary</a>
            </div>
            <div class="menu_link_container">
                <div class="hw30"> <img id="menu_icon" src="./assets/img/add_task_white.png" alt=""></div>
                <a href="./add_task.html">Add Task</a>
            </div>
            <div class="menu_link_container">
                <div class="hw30"> <img id="menu_icon" src="./assets/img/Board_white.png" alt=""></div>
                <a href="./board.html">Board</a>
            </div>
            <div class="menu_link_container">
                <div class="hw30"> <img id="menu_icon" src="./assets/img/contacts_white.png" alt=""></div>
                <a href="./contacts.html">Contacts</a>
            </div>
        </div>
    </nav>
    <div class="menu_footer column">
        <div class="menu_footer_link"> <a href="./privacy_policy.html">Privacy Policy</a></div>
        <div class="menu_footer_link"> <a href="./legal_notice.html">Legal notice</a> </div>
    </div>
</div>

<nav id="mobile-sideMenu" class="mobile-sideMenu">
    <div class="mobile-navbar">
        <a class="mobile-menu_link_container" href="./summary.html"> 
            <img class="mobile-navbar-img" src="./assets/img/summary_white.png">Summary
        </a>
        <a class="mobile-menu_link_container" href="./board.html">
            <img src="./assets/img/Board_white.png" title="Board">Board
        </a>
        <a class="mobile-menu_link_container" href="./add_task.html">
            <img src="./assets/img/add_task_white.png">Add Task
        </a> 
        <a class="mobile-menu_link_container" href="./contacts.html">
            <img src="./assets/img/contacts_white.png">Contacts
        </a> 
    </div>
</nav>