<div class="menu">
    <img src="./assets/img/join_logo.png" alt="">
    <nav>
        <div>
            <div class="menu_link_container" id="summary_menu_link_container">
                <a href="./summary.html"><img class="hw30" id="menu_icon_summary" src="../assets/img/summary.png" alt="">Summary</a>
            </div>
            <div class="menu_link_container" id="addtask_menu_link_container">
                <a href="./add_task.html"><img class="hw30" id="menu_icon_addtask" src="../assets/img/add_task.png" alt="">Add Task</a>
            </div>
            <div class="menu_link_container" id="board_menu_link_container">
                <a href="./board.html"><img class="hw30" id="menu_icon_board" src="../assets/img/Board.png" alt="">Board</a>
            </div>
            <div class="menu_link_container" id="contacts_menu_link_container">
                <a href="./contacts.html"><img class="hw30" id="menu_icon_contacts" src="../assets/img/contacts.png" alt="">Contacts</a>
            </div>
        </div>
    </nav>
    <div class="menu_footer column">
        <div class="menu_footer_link"> <a id="privacy_policy_menulink" href="./privacy_policy.html">Privacy Policy</a></div>
        <div class="menu_footer_link"> <a id="legal_notice_menulink" href="./legal_notice.html">Legal notice</a> </div>
    </div>
</div>

<nav id="mobile-sideMenu" class="mobile-sideMenu">
    <div class="mobile-navbar">
        <a class="mobile-menu_link_container" href="./summary.html">
            <img class="mobile-navbar-img" src="./assets/img/summary_white.png">Summary
        </a>
        <a class="mobile-menu_link_container" href="./board.html">
            <img src="./assets/img/Board_white.png" title="Board">Board
        </a>
        <a class="mobile-menu_link_container" href="./add_task.html">
            <img src="./assets/img/add_task_white.png">Add Task
        </a>
        <a class="mobile-menu_link_container" href="./contacts.html">
            <img src="./assets/img/contacts_white.png">Contacts
        </a>
    </div>
</nav>